// ---------------------------------------------------------------------------------------------------------------
// Стилізація аккордіону
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------

.accordion {
    max-width: 600px;
    margin: 0 auto;
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__item {
    border-top: none;
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__item:first-child {
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  
  // ---------------------------------------------------------------------------------------------------------------
  // Якщо потрібна іконка
  // ---------------------------------------------------------------------------------------------------------------
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__arrow {
    transition: transform 0.3s ease;
    font-size: 30px;
    font-weight: bold;
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__item--active .accordion__arrow {
    transform: rotate(180deg);
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  // ---------------------------------------------------------------------------------------------------------------
  .accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding-top: 0;
    padding-bottom: 0;
  }
  // ---------------------------------------------------------------------------------------------------------------
  
  .accordion__item--active .accordion__content {
  }
  
  .accordion__header:hover {
  
  }
  
  // ---------------------------------------------------------------------------------------------------------------
  // Приклад використання аккордіону
  // ---------------------------------------------------------------------------------------------------------------
  
  
  // ---------------------------------------------------------------------------------------------------------------
  // <div class="accordion"> Контейнер усіх аккордіонів
  // <div class="accordion__item accordion__item--active"> Перший елемент має бути активний, або який вам потрібен
  //   <button class="accordion__header">
  //     <span class="accordion__title">Accordion 1</span>
  //     <span class="accordion__arrow"></span>
  //   </button>
  //   <div class="accordion__content">
  //     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste modi repellat labore explicabo officiis ipsum
  //       ducimus perspiciatis, nesciunt culpa tempore debitis itaque inventore natus minima unde blanditiis neque
  //       asperiores aut.</p>
  //   </div>
  // </div>
  
  // Другий аккордіон
  // <div class="accordion__item ">
  //   <button class="accordion__header">
  //     <span class="accordion__title">Accordion 2</span>
  //     <span class="accordion__arrow"></span>
  //   </button>
  //   <div class="accordion__content">
  //     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste modi repellat labore explicabo officiis ipsum
  //       ducimus perspiciatis, nesciunt culpa tempore debitis itaque inventore natus minima unde blanditiis neque
  //       asperiores aut.</p>
  //   </div>
  // </div>
  // </div>
  // ---------------------------------------------------------------------------------------------------------------