@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'footer';


// ==============================================================================================
// **Стилізація форми**
// Цей модуль відповідає за стилі всіх форм, включаючи поля введення, кнопки та валідацію.
// Підключення:
// @use 'form';
// ==============================================================================================

// ==============================================================================================
// **Стилі аккордіону**
// Відповідає за вигляд і анімацію елементів аккордіону, включаючи заголовки та контент.
// Підключення:
// @use 'accordion';
// ==============================================================================================

// ==============================================================================================
// **Стилі табів**
// Додає стилізацію для вкладок (tabs), включаючи активний стан і контент.
// Підключення:
// @use 'tabs';
// ==============================================================================================

// ==============================================================================================
// **Модальні вікна та поп-апи**
// Налаштування стилів для модальних вікон, поп-апів і тригерів для їх відкриття/закриття.
// Підключення:
// @use 'modal';
// ==============================================================================================

// ==============================================================================================
// **Кастомний селект**
// Базова стилізація кастомного селекту, включаючи розмір, кольори та поведінку.
// Підключення:
// @use 'customSelect';
// ==============================================================================================

// ==============================================================================================
// **Анімації**
// Модуль для додавання анімацій за класами, які можуть бути використані для будь-якого елемента.
// Підключення:
// @use 'animation';
// ==============================================================================================


// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.button:hover {
    background-color: $buttonHover;
}

.button:active {
    background-color: $buttonActive;
}

// Загальні стилі для списків
ol, ul {
    padding-left: 20px;
    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

h1 {
    @include adaptiveValue('font-size', 60px, 24px);
}

// Cтилізація ектів статусу для поточної сторінки
.currentPage {
    text-decoration: underline;
}